.header {
  background-color: floralwhite;
  width: 100%;
  align-items: center;
}

.menu {
  margin-top: auto;
  margin-bottom: 2.1rem;
  margin-left: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #6d40ff;
}

.bottom-line {
  border: 4px solid #6d40ff;
  border-radius: 1.5rem;
  margin-left: 0.5rem;
  border-width: 0.1rem;
}

.functionality {
  margin-top: auto;
  margin-bottom: 2.3rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}
