.button {
  font-style: initial;
  background-color: #5e4fff;
  color: white;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: auto;
  margin-right: 4.625rem;
}
