.newbutton {
    font-style: initial;
    background-color: #5e4fff;
    color: white;
    border-radius: 0%;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    box-shadow: 0px 8px 13px 11px rgba(0, 0, 0, 0.25);
  }
