.container {
  position: absolute;
  border-radius: 50%;

  width: 1645px;
  height: 1645px;
  left: 557px;
  top: 151px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(94, 79, 255, 0.2) 0%,
    rgba(135, 90, 228, 0.168) 100%
  );
}
